# Hugo-generated assets
.hugo_build.lock
/public
/resources

# npm assets
node_modules/
package-lock.json
yarn.lock

# Local scratch folder
tmp/

# macOS
.DS_Store

# Misc
scripts/collector.yaml
assets/jsconfig.json
/.netlify

# VS Code
/.vscode
