// This guarantees that the footer stays stuck to the bottom of the page
.is-page
  display: flex
  flex-direction: column
  min-height: 100vh

  .is-main
    flex: 1

=logo($d, $m)
  +desktop
    width: $d
  +touch
    width: $m

.hero-logo
  +logo(70%, 30%)
  +tablet-only
    width: 80%

.cncf-logo
  +logo(80%, 60%)

.has-extra-padding
  padding: 2rem 0

.is-narrow-desktop
  +desktop
    width: 80%

.has-bottom-padding
  padding-bottom: 7.5rem

.toc
  position: fixed
  border-left: 3px solid $primary
  padding: 1.5rem 0 1.5rem 2rem

  &-content
    font-weight: 300
    font-size: 1.2rem

.has-no-y-padding
  padding: 3rem 0

hr.thick
  +desktop
    width: 6rem
    height: 5px
  +touch
    width: 4rem
    height: 4px

  background-color: $primary
