// Due to the site's Content-Security-Policy, we must move inline styles
// into this file. For some context, see:
// https://github.com/theupdateframework/theupdateframework.io/issues/73

// The following styles appear in the HTML generated for the ...

// Navbar

.navbar-logo > svg .st0 {
  fill: white;
}

// Homepage: it will need to be updated when the hero image is changed.

#td-cover-block-0 {
  background-image: url(/featured-background_hu_1aad985dd980ab60.jpg);
}

@media only screen and (min-width: 1200px) {
  #td-cover-block-0 {
    background-image: url(/featured-background_hu_b521d656b4145d5f.jpg);
  }
}
