{{ define "title" }}
{{ site.Title }} | {{ .Title }}
{{ end }}

{{ define "main" }}
{{ $hasToc := gt (len .TableOfContents) 32 }}
<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column">
        <article{{ if not $hasToc }} class="is-narrow-desktop"{{ end }}>
          {{ partial "page/hero.html" . }}

          <div class="content is-medium has-bottom-padding">
            {{ .Content }}
          </div>
        </article>

        {{ partial "page/pagination.html" . }}
      </div>

      {{ if $hasToc }}
      <div class="column is-one-third is-hidden-mobile">
        <div class="toc">
          <p class="title">
            <span class="icon has-text-grey-light">
              <i class="fas fa-list-ul"></i>
            </span>
            &nbsp;
            <span>
              Contents
            </span>
          </p>
      
          <div class="toc-content">
            {{ .TableOfContents }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
