{{ $hasToc := gt (len .TableOfContents) 32 }}
<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column">
        {{ partial "page/hero.html" . }}

        <article{{ if not $hasToc }} class="is-narrow-desktop"{{ end }}>
          <div class="content is-medium has-bottom-padding">
            {{ .Content }}
          </div>
        </article>

        {{ partial "page/pagination.html" . }}
      </div>

      {{ if $hasToc  }}
      <div class="column is-one-third is-hidden-mobile">
        <p class="title">
          Contents
        </p>

        <div class="toc">
          {{ .TableOfContents }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
