{{ $year := now.Year }}
{{ $copy := site.Params.copyright | markdownify }}
<footer class="footer has-background-black">
  <div class="container">
    <div class="content is-copyright has-text-light">
      <div class="social-icons" style="margin-bottom: 20px;">
        <a href="/github" rel="noopener noreferrer" style="margin-right: 10px;">
          <i class="fab fa-github fa-2x has-text-light"></i>
        </a>
        <a href="https://cloud-native.slack.com/archives/C8NMD3QJ3" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-slack fa-2x has-text-light"></i>
        </a>
      </div>

      <p class="has-text-weight-bold">
        &copy; {{ $year }} The Update Framework authors | Documentation Distributed under CC-BY-4.0
      </p>

      <p class="has-text-weight-bold">
        &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page.
      </p>

      <hr class="thick" />

      {{ $copy }}
    </div>   
  </div>
</footer>

<!-- Include FontAwesome -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
