{{ $year := now.Year }}
{{ $copy := site.Params.copyright | markdownify }}
<footer class="footer has-background-black">
  <div class="container">
    <div class="content is-copyright has-text-light">
      <p class="has-text-weight-bold">
        &copy; {{ $year }} The Update Framework authors | Documentation Distributed under CC-BY-4.0
      </p>

      <p class="has-text-weight-bold">
        &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page. 
      </p>

      <hr class="thick" />

      {{ $copy }}
    </div>   
  </div>
</footer>
