{{ $here := .here }}
{{ range .menu }}
{{ $isHere := eq .URL $here }}
{{ $isExternal := hasPrefix .URL "http" }}

{{ if .HasChildren }}
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link has-text-weight-bold is-arrowless"{{ with .URL }} href="{{ . }}"{{ end }}{{ if $isExternal }} target="_blank"{{ end }}>
    {{ .Name }}
  </a>

  <div class="navbar-dropdown is-boxed is-right">
    {{ range .Children }}
    {{ $isExternal := hasPrefix .URL "http" }}
    <a class="navbar-item" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
      <span>
        {{ .Name }}
      </span>
      {{ if $isExternal }}
      <span class="icon has-text-primary">
        <i class="fas fa-external-link-alt"></i>
      </span>
      {{ end }}
    </a>
    {{ end }}
  </div>
</div>
{{ else }}
<a class="navbar-item has-text-weight-bold" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
  {{ .Name }}
</a>
{{ end }}
{{ end }}
